* {
    margin:0px;
    padding:0px;
}

body {
    
}
.hero,
.footer {
    background-color: #1f2937;
}

button {
    color:#3882f6;  
}

.action {
    background-color: #3882f6;
}
.hero   {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero2,
.header-links,
.footer {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f1937;
}

.info-image {
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;

}

img {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    height:auto;
    width: 120px;
}