* {
    margin:0px;
    padding:0px;
}

body {
    font-family: 'Roboto';
}

.hero,
.footer {
    background-color: #1f2937;
}

button {
    background-color:#3882f6;
    color: #e5e7eb;  
}

.action {
    background-color: #3882f6;
}
.hero2  {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.sub-text,
li,
.footer,
.hero-image {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f1937;
}

.info-image {
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;

}

img {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    height:auto;
    width: 120px;
}

/* Flexbox working area*/
* {
    outline: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    padding: 0px 100px; 
    height: 500p;
    padding-bottom: 100px;
}
    

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.logo {
    padding: 20px;
}


ul {
    display: flex;
    justify-content: right;
    padding:  20px;
    text-decoration: none;
}
li {
    padding-left: 20px;
}

.hero2,
.sub-text  {
   display: flex;
   flex-wrap: wrap;
   width:425px;
}

button {
    width: 200px;
    
}

.hero-image {
    justify-content: right;
}