* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.hero,
.footer {
    background-color: #1f2937;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 8px;
    width: 200px;
    height:50px;
}

.action {
    background-color: #3882f6;
}

.hero2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.sub-text,
li,
.footer,
.hero-image,
.call-sub {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.logo,
.call {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f1937;
}

.info-image {
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;

}

.author{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}

img {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

/* Flexbox working area*/


body {
    display: flex;
    flex-direction: column;
    flex:1;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    padding: 0px 150px 150px 150px;
    height: 700px;

}


.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.logo {
    padding: 20px;
}


ul {
    display: flex;
    justify-content: right;
    padding: 20px;
    text-decoration: none;
}

li {
    padding-left: 20px;
}

#hero {
    display: flex;
    justify-content: space-between;
}


.hero-image {
    display: flex;
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: grey;

}

.left {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 0;
    width: 425px;
    justify-content: space-between;
}

.content {
    display:flex;
    flex-direction: column;
}

.information {
    padding-bottom: 50px;

}

.title {
    display: flex;
    justify-content: center;
    padding:50px 0 50px;
}
.image-row {
    display: flex;
    justify-content: space-around;
}


.image-desc {
    display: flex;
    justify-content: space-around;
}

.img1,
.img2,
.img3,
.img4 {
    display: flex;
    text-align: center;
    width: 200px;
}


.quote {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
}
.words {
    justify-content: center;
    padding: 75px 150px 0px 150px;
}

.author {
    display: flex;
    padding: 0 150px 75px 150px;
    justify-content: right; 
}

.action {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
    margin: 50px;
}

.call {
    display: flex;
    flex-direction: column;
}
.act-but {
    display: flex;
    border: solid 5px #e5e7eb;
    align-items: center;
    justify-content: center;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}